/* Seting global styles for entire website */
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    text-decoration: none;
    scroll-behavior: smooth;
    list-style: None;
}   

header{
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    


}